// Layout
$content-width: 1100px;

// Fonts
$font: -apple-system, BlinkMacSystemFont, "SF Pro Text", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$font-serif: "New York", Georgia, "Times New Roman", serif;

// Various resets
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: $font;
	line-height: 1;
}

body {
	font-size: 1.6rem;
	background-color: $body-color;
	color: $primary-text;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.8rem;
}

a:link,
a:hover,
a:visited,
a:active {
	color: $accent-color;
	text-decoration: none;
}

// Shadows
$drop-shadow: drop-shadow(0px 5px 15px rgba(#000, 0.3))
              drop-shadow(0px 1px 3px rgba(#000, 0.4));
